body {
background-image: url(../img/lpf.jpg);
background-repeat: no-repeat;
background-attachment: fixed;
background-position: center;
height:250vh;
background-size: cover;
    
    }
    *{
        margin: 0;
        padding: 0;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        box-sizing: border-box;
        
        
    }
    ul{
        list-style: none;

    }
    h1{
    border-style:groove;
    text-align: center;
    
    }
    
    
    .fondo-gray{
        background-color:white;
        border-style: solid;
        margin-right: auto;
        margin-top:  80%; 
        width: 250px;
        height: 250px;
    }
    
    .search{
        background-color: white;
        width: 188px;
        border-style: solid;
        margin-left: auto;
        position: relative;
        bottom: 80px;
        margin-bottom: auto;
    }
    .footer{
        background-color:white;
    width:100%;
    height:auto;
        border-style: solid;
        list-style: none;
        text-align: center;


        
    }
    span{
        border: 2px double black;
    background-color: #4240c21a;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 50vh
    }
    img{
        display: inline-block;
        position: relative;
       width: 200px;
       height: 200px;
 left: 35px;
 margin-left: 400px;
        
    }
    h3{
        text-align: center ;
      
    }
    
        
        

   .container{
  display: grid;
  grid-template-columns:minmax(300px 20vw) 2fr 2fr 2fr 2fr; 
  grid-template-rows:minmax(200px 25vh);
display: flex;
justify-items: stretch;
justify-content: space-between;
}
   
    
    

.caja{


border-style:solid;
position: relative;
list-style: none;
gap: 50px;
text-decoration: none;
font-style: italic;

}
.caja-principal{
    background-color: rgb(245, 242, 237);
    display: grid;
    grid-template-columns: minmax(200px 25vw) 2fr; 
    grid-template-rows: minmax(200px 25vh);
    grid-row: span 2;
display: flex;
justify-items: stretch;
justify-content: space-between;
}
.noticias{
    background-color:rgba(255, 255, 255, 0) ;
    border-style: solid;
    font-size: 1rem;
    font-style: oblique;
    position: relative;
    text-align: center;
  gap: 20px;
}


.home{
    display: flex;
    flex-wrap: wrap;
}
.in-flex{
 flex: 1; 
    background-color: #4240c21a;
 
}
.in-flex{
    padding: 25px;
    background-color: #4240c21a;
    margin: 20;
    margin-bottom: 0;

}
.in-flex{
    padding: 25px;
    background-color: #4240c21a;
    margin: 20;

}
.in-flexdiv{
    padding: 25px;
    margin: 20;
    
}



body{
display: grid;
grid-template-columns:1fr;
grid-template-areas: "header "
                     "main "
                   "footer ";
}
header{
    grid-area: header;
}
main{
    grid-area: main;
}
footer{
    grid-area: footer;
}

  
    
    


.body{
    display: grid;
    grid-template-rows: 33% 33% 34%;
    grid-template-columns: 33% 33% 34%;
    grid-template-areas: " header header header "
     "main main main "
       "footer footer footer ";
}




            


h1{
    border-style: none;
}
.body2{
    background-image: url(../img/lpf.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position:center ;
    height: 250vh;
    background-size: cover;
}
.body2{
    display: grid;
    grid-template-rows: 33% 33% 34% ;
grid-template-columns: 33% 33% 34%;
grid-template-areas:" header header header"
    "main main main "
       "footer footer footer" ;
}

    .h2{
        border-radius: 1px rgba(255, 255, 255, 0) ;
      font-size: 2rem;
      margin-left: 40%;
        
    
        
        
    }
.home2{
    display: flex;
    flex-wrap: wrap;
}
.in-flex2{
   flex: 1;
   background-color: #4240c21a;
 
}
.in-flex2{
   flex: 2;
   padding: 25px;
   background-color: #4240c21a;
   margin: 0;
   margin-bottom: 0;


}
.in-flex2{
 flex: 2;
 padding: 25px;
 background-color: #4240c21a;
 margin: 0px;

}
.in-flex2{
    flex: 2;
    padding: 25px;
    background-color: #4240c21a;
    margin:0px;
}
.in-flex2{
    flex: 2;
    padding: 25px;
    background-color: #4240c21a;
    margin: 0px; 
}
.flex{
  padding: 25px;
  margin: 0px;
  background-color: #4240c21a;
}

