/*Body*/
* {
  margin: 0;
  padding: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  box-sizing: border-box;
}

body {
  background-image: url(../img/Escudo.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  height: 250vh;
  background-size: cover;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}

.grid-item {
  background-color: #f2f2f2;
  padding: 20px;
  text-align: center;
}



/*Main*/
.caja{
  box-shadow: 41px 0px 21px -11px #f9000046;
border-radius: 3%;
}




/*h1*/

h1{
  display: flex;
  flex-direction: row;
  border-style: double;
  background: rgb(2,0,36);
    background: linear-gradient(45deg, rgb(255, 255, 255) 0%, rgba(249,0,0,0.6895133053221288) 38%, rgba(247,253,254,1) 100%);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}



/*footer*/
.horizontal-list {
  list-style-type: none; 
  padding: 0; 
  display: flex; 
}

.horizontal-list li {
  margin-right: 10px; 
}


.pie{
  display: flex;
  flex-direction: row;
  align-items: center;
  $color-principal:#f9000046 ;
    list-style: none;
    border: darkred 5px;
    border-style: double;
    width: 300px;
    height: 300px;
    margin: top 100%;;
    margin-left: auto;
    list-style: none ;  
    background: rgb(2,0,36);
    background: linear-gradient(45deg, rgb(249, 249, 252) 0%, rgba(249,0,0,0.6895133053221288) 38%, rgba(247,253,254,1) 100%);
  }


  
    

    /*input*/
    fondo-gray{
      background-color: #b10d0d00;
      border-radius: 5px;
      margin-top: 100%;
      margin-right: auto;
      
    } 
    /*texto*/
    p{
      font-size: 15px;
      text-shadow: 10px 10px 5px rgba(255, 0, 0, 0.267), 5px 5px 10px white;
      font-family: unset;
    }
  
    /*Navbar*/
    .container-fluid{
      background: rgb(2,0,36);
      background: linear-gradient(45deg, rgb(249, 249, 252) 0%, rgba(249,0,0,0.6895133053221288) 38%, rgba(247,253,254,1) 100%);
      border: double;
    }