.pie{
    display: flex;
    flex-direction: row;
    align-items: center;
    $color-principal:#f9000046 ;
      list-style: none;
      border: darkred 5px;
      border-style: double;
      width: 300px;
      height: 300px;
      margin: top 100%;;
      margin-left: auto;
      list-style: none ;  
      background: rgb(2,0,36);
      background: linear-gradient(45deg, rgb(249, 249, 252) 0%, rgba(249,0,0,0.6895133053221288) 38%, rgba(247,253,254,1) 100%);
    }
    
  