    /*Navbar*/
    .container-fluid{
        background: rgb(2,0,36);
        background: linear-gradient(45deg, rgb(249, 249, 252) 0%, rgba(249,0,0,0.6895133053221288) 38%, rgba(247,253,254,1) 100%);
        border: double;
      }
